@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

/*index.html*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif;
}

body {
    margin: 0;
    background-color: black;
    font-family: 'Libre Franklin';
  
}

html {
    color: white;
    scroll-behavior: smooth;
}


/*Navigation*/
nav {
    display:flex;
    justify-content: right;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

nav a{
    margin: 0px;
    font-size: 1.5em;
}

nav a:hover {
    background-color: #1b1c1e;
    transition: background-color 0.2s;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color:#FFFFFF
}


.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    cursor: pointer;
    font-size: xx-large;
    color: #c1c6c8;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    gap: 30px;
    padding-right: 1.5rem;
}
/*Splash and Parallax*/
#parallax {
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

#splash {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
    z-index: -1;
}

.background-layer,
.parallax-layer-1,
.parallax-layer-2,
.parallax-layer-3,
.parallax-layer-4,
.foreground-layer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    pointer-events: none;
}

h1 {
    font-family: 'Oxygen';
    font-size: 6vw;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 40%;
    left: 6%;
    transform: translate(-50%, -50%);
}

#title-description {
    font-size: 2.5vw;
    color: white;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 75%;
    left: 50%;
    
}

.background-layer {
    height: 100vh;
    transform: translateZ(-20px) scale(3);
}

.parallax-layer-1 {
    transform: translateZ(-15px) scale(2.5);
}

.parallax-layer-2 {
    transform: translateZ(-10px) scale(2);
}

.parallax-layer-3 {
    transform: translateZ(-3px) scale(1.3);
}

.parallax-layer-4 {
    transform: translateZ(-2px) scale(1.2);
    
}

.foreground-layer {
    transform: translateZ(-1px) scale(1.1);
    background: linear-gradient(to top, #000000, transparent 50%);

}

.fade-transition {
    position: absolute;
    bottom: 0;
    height: 35vw;
    width: 100vw;
    display: block;
    background: linear-gradient(to top, #000000, transparent 50%);
    
}
.fade-transition img {
    position: absolute;
    right: 900px;
    bottom: 100px;
    height: 60px;
}

/*Content*/
#content {
    font-size: 1rem;
    padding: 1rem;
    color: #000000;
    background: transparent;
    margin: 0;
    position: relative;
    
}

#content-video {
    position: absolute;  
    top: 50%;          
    left: 50%;
    min-width: 100%;    
    min-height: 100%;   
    width: auto;
    height: auto;
    z-index: -1;        
    transform: translate(-50%, -50%); 
    object-fit: cover;  
    
}
    
.bio {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 5rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
}

#profile-picture {
    border-radius: 50%;
    box-shadow: 0px 0px 1000vw 2vw rgba(99, 104, 109, 0.5);
    width: 25vh;
    height: 25vh;
}

.profile-text1 {
    animation: profile-text1;
}

.profile-text1 {
    font-size: 10vh;
    font-family: 'Source Code Pro';
    color: aliceblue;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(12, end);
    animation-iteration-count: infinite; /*types out text*/
}

.profile-text1::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

.profile-description {
    margin-top: 3rem;
    font-size: 2em;
    text-align: center;
    color: #7F9AB8;
}


@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes profile-text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 5.5em;
    }
  }

@keyframes profile-text1 {
    0%, 50%, 100% {
        width: 0;
    }
    10%, 40% {
        width: 8.3em;
    }
}

.return {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    transition: 4s;
}
.return img {
    transform: rotate(180deg);
    margin-bottom: 10px; 
    height: 60px;
}
/*Footer*/
footer {
    position: relative;
    justify-content: center;
    background-color: #000000;
    margin: 2rem;
}

footer a{
    margin: 0px;
    font-size: 1.5rem;
}

footer a:hover {
    background-color: #1b1c1e;
    transition: background-color 0.2s;
    border-radius: 5px ;
}

footer img{
    margin-right: 15px;
    padding: 10px;
    height: 30px;
    float: right;
}
footer img:hover{
    background-color: #1b1c1e;
    transition: background-color 0.2s;
    border-radius: 5px ;
}


/*Cards*/
.three-col {
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
    justify-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 4rem;
    padding-top: 5rem;
}

.card {
    width: 480px;
    height: 560px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(20px);
}

.card:hover:before {
    opacity: 1;
}



.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}



.card-content {
    margin-bottom: 100px;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    align-items: center;
    grid-template-rows: auto auto;
    text-align: center;
    letter-spacing: 2px;
}

.card-content h3 {
    font-size: 60px;
    margin: 0px;
}

.card-content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.card-content button {
    margin: 10px;
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}
.card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card-content button:hover {
    background: dodgerblue;
    color: white;
}

.card:hover .card-content{
    padding-bottom: 2rem;
    z-index: 3;
    color: white;
    transform: translateY(30px);
    transition: 0.5s;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 0px;
    opacity: 1;
    transition: opacity 0.3s;
}



/*Contact page*/
.one-col {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10em; 
}

#contact-heading {
    color: aliceblue;
    text-align: center;
    font-size: 4em;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactForm {
    margin-bottom: 500px
}
.contact-info {
    color: aliceblue;
    font-size: 2em;
    text-align: center;
    padding-bottom: 3em;
}

#contact-card{
   border-radius: 1em;
   padding: 3em;
   height: auto;
   width: auto;
   font-size: 2em;
   text-align: center;
}

#contact-card form {
    display: block; 
    max-width: 100%; 
}

#contact-card form input,
#contact-card form textarea {
    display: block; 
    margin: 1em auto; 
    font-size: 15px;
}

#contact-card form input {
    width: 30em;
    height: 3em;
}

#contact-card form textarea {
    height: 20em;
    width: 30em;
}

.textarea {
    display: flex;
    justify-content: center;
}

.socialSO {
    text-align: center;
}
  
@media all and (max-width: 800px) {
    .three-col {
        grid-template-columns: 1fr;
        row-gap: 5em;
    }

    .card {
        max-width: 80vw;
        max-height: 70vh;
    }
}

.lucida_learn_label:hover {
    animation: textBounceStretch 3s 1;  
}
@keyframes textBounceStretch {
    0% {
      color: white;
      margin-bottom: 0;
    }
    30% {
      letter-spacing: 15px;
      margin-bottom: -20px;
    }
    85% {
      letter-spacing: 2px;
      margin-bottom: 0;
    }
  }



/*contact.html*/

.contactContainer h1{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    top: 0;
    left: 0;
    transform: translate(0,0)
}


.work-text {
    color: white;
    letter-spacing: 0.05em;
    font-size: 50px;
    margin-top: 2rem;
    text-align: center;
}







/* Color Codes:
#000000 Black
#162e5e Space Cadet (Dark Blue)
#49608c Queen Blue (Mid Blue)
#5195d6 Celestial Blue (Light Blue)
#a6a4a5 Quick Silver (Gray)

https://coolors.co/acb2b8-c1c6c8-383439-5f85b0-7f9ab8-000000




*/

